extends base

block content
    main
        section(class='flex flex-wrap mx-auto max-w-[1440px] min-h-[calc(100vh-283px)] px-1 xl:px-0 items-center justify-center')
            h1(class='text-[40px] font-bold text-black') 404! page not found
