footer(class='h-[222px] ')
    div(class='flex justify-between max-[1440px]:flex-col max-[1440px]:justify-start mx-auto gap-4 max-w-[1440px] h-full items-start min-[1440px]:items-center px-1 xl:px-0')
        img(src="/img/logo-green-round.png", alt="logo", class=' h-[60px]')
        .w-full.flex.flex-wrap.flex-col.items-center(class='xl:w-5/12 sm:flex-row sm:items-start sm:justify-between' )
            .w-full.flex.flex-col.items-center(class='sm:w-1/3 xl:items-start' )
                h1.footer-headers() Contact Us
                ul.footer-lists()
                    li()
                        a(href='mailto:admin@natours.com' ) admin@natours.com
                    li()
                        a(href='tel:+234-808-000-0000' ) +234-808-000-0000
            .w-full.flex.flex-col.items-center(class='sm:w-1/3 xl:items-start' )
                h1.footer-headers() SUPPORT
                ul.footer-lists()
                    li()
                        span()
                            a(href='#' target='_blank' )
                        i.fab.fa-brands.fa-facebook()
                            a(href='#' target='_blank' )
                                i.fab.fa-brands.fa-linkedin.ml-4()