header(class='bg-[#444444]')
    nav(class='h-[60px] mx-auto max-w-[1440px] flex justify-between items-center px-1 2xl:px-0')
        a(href="/")
            img(src="/img/logo-green.png", alt="logo", class="h-[40px]" )
        div(class='text-[#f7f7f7] flex gap-x-[20px]')
            a(href="/login", class='h-[40px] flex items-center justify-center w-[100px]') LOG IN 
            a(href="/sign-up", class="border-[2px] border-[#F7F7F7] rounded-full h-[40px] flex items-center justify-center w-[100px] hover:bg-[#f7f7f7] hover:text-[#444444]" ) SIGN UP 
