doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="tour website for adventures")
    link(rel='shortcut icon', type='image/*', href='/img/favicon.png')
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/index.css")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    script(src="https://cdn.tailwindcss.com" nonce=nonce) 
    title=title||'Natours | Exciting tours for adventurous people'
  body(class='bg-[#f7f7f7]')
    include _header
    block content
    include _footer