doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="tour website for adventures")
        link(rel='shortcut icon', type='image/*', href='/img/favicon.png')
        link(rel="stylesheet", href="/css/style.css")
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        script(src="https://cdn.tailwindcss.com" nonce=nonce) 
        title=title
    body(class='bg-[#f7f7f7]')
        header(class='bg-[#444444]')
            nav(class='h-[60px] mx-auto max-w-[1440px] flex justify-between items-center px-1 xl:px-0')
                a(href="")
                    img(src="/img/logo-green.png", alt="logo", class="h-[40px]" )
                div(class='text-[#f7f7f7] flex gap-x-[20px]')
                    a(href="", class='h-[40px] flex items-center justify-center w-[100px]') LOG IN 
                    a(href="", class="border-[2px] border-[#F7F7F7] rounded-full h-[40px] flex items-center justify-center w-[100px] hover:bg-[#f7f7f7] hover:text-[#444444]" ) SIGN UP 
        main
            section(class='flex flex-wrap mx-auto max-w-[1440px] min-h-[calc(100vh-283px)]')
            