extends base

block content
    main
        section(class='flex flex-wrap mx-auto max-w-[1440px] min-h-[calc(100vh-283px)] px-1 xl:px-0 items-center justify-center py-[20px]')
            .bg-white#signUp-form(class='min-h-[500px] max-w-[95vw] w-[500px] shadow-2xl pt-[50px] px-0 sm:px-[30px] rounded-[5px] mb-[30px]')
                h1.text-3xl.font-bold.font-sans(class='text-[#ffffff00] bg-gradient-to-r from-[#7dd56f] to-[#28b487] inline-block bg-clip-text uppercase') Welcome to Natours
                form(class='mt-[50px] pb-[20px]')
                    label(for="fullname" class='flex flex-col gap-[10px] mb-[30px] font-bold text-black') Full Name
                        input.form__input(name="fullname" type="text" id='fullname' placeholder='jonas', required, class='h-[50px] text-lg')
                    label(for="email" class='flex flex-col gap-[10px] mb-[30px] font-bold text-black') Email Address
                        input.form__input(name="email" type="email" id='email' placeholder='me@exaple.com', required, class='h-[50px] text-lg')
                    label(for="password" class='flex flex-col gap-[10px] mb-[30px] font-bold text-black') Password
                        input.form__input(name="password" type="password" id='password' placeholder='••••••••' minlength='8' required, class='h-[50px] text-lg')
                    label(for="rePassword" class='flex flex-col gap-[10px] mb-[30px] font-bold text-black') Confirm Password
                        input.form__input(name="rePassword" type="password" id='rePassword' placeholder='••••••••' minlength='8' required, class='h-[50px] text-lg')
                    button(class='h-[40px] w-[100px] text-2xl text-white bg-[#55c57a] rounded-full' type='submit') Login

block append scripts